p{
    margin: 10px;
}

h1{
    margin: 10px;
}

.input-div{
    display: flex;
    justify-content: center;
    
    
}

.content-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.input-section{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px 0px;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,.20);
    border-radius: 10px;
}

.notice-block{
    box-shadow: 0 3px 5px rgba(0,0,0,.20);
    min-width: 200px;
    max-width: 300px;
    height: 100%;
    overflow-wrap: anywhere;
    border-radius: 10px;
    margin: 20px;
    background-color: #f1f1f1;
}

.delete-button{
    margin: 10px;
}

nav{
    height: 100vh;
    position: static;
    width: 10%;
    box-shadow: 3px 0px 20px -1px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    min-width: 180px;
    background-color: #c4c2c2;
}

main{
     width: 90%;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
  }

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
    width: 140px;
    text-align: center;
}

.line{
    height: 1px;
    width: 150px;
    background-color: lightgray;
}

.d-none{
    display: none;
}

.nav-link{
    margin-top: 80px;
}

a:hover{
    background-color: rgb(165, 165, 165);
}

.d-flex{
    display: flex;
}

.nav-logo{
    height: 18px;
}

.counter{
    margin: 0px;
    font-size: 9px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    display: contents;
}

.trash{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
