
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

h2 {
    font-size: 80px;
    color: #9F0908;
    font-family: 'Raleway', sans-serif;
}


h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 96px;
}

h3 {
    font-family: 'Economica', sans-serif;
    font-size: 56px;
    margin: 5px;
}

.table {
    border-collapse: separate;
    border-spacing: 5em;
}

.main-container {
    position: absolute;
    top: -150px;
    right: 0px;
    left: 0px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 100px;
}

.atf-image {
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    margin-top: -10px;
}



.headline {
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    

}

.co-headline {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    position: relative;
}

.headline-links {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    font-size: 24px;
    top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 112px;

}

.headline-logo {
    width: 64px;
    height: 64px;
    left: 0px;
}

.headline-link {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: lighter;
}

.headline-link:hover {
    color: #ef1210;
}

.tel-link {
    background-color: #9F0908;
    height: 24px;
    display: inline-flex;
    border-color: white;
    padding: 10px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.tel-link:hover {
    background-color: #ef1210;
    color: white;
}

.tel-link-logo {
    width: 25px;
    height: 25px;
    top: 5px;
}

.howto-section {
    width: 100%;
    background-color: white;
    padding-bottom: 120px;
}

.howto-headline {
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.howto-img {
    width: 128px;
    height: 128px;
}

.howto-imgs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.howto-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 56px;
}

.menu-background {
    background-size: cover;
    width: 100%;
    height: 1720px;
}

.menu-section {
    width: 100%;
    background-image: url(./img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
    padding-bottom: 120px;
    background-size: cover;
}

.menu-headline {
    position: relative;
    justify-content: center;
    display: flex;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 64px;
}

.foodimg {
    width: 352px;
    height: 352px;
}

.tonkotsu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 56px;

}

.spicy-miso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 56px;

}

.shio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.table-text {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #675E54;
}

.emptyrow {
    padding-right: 180px;
}

.table1 {
    padding-left: 80px;
}

.table2 {
    padding-right: 80px;
}

.table3 {
    padding-left: 80px;
}

.findus-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}

.map-marker {
    width: 24px;
    height: 24px;
}

.findus-text {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    padding-top: 8px;
    padding-bottom: 64px
}

.find-us-at {
    margin: 0px;
}

.map {
    padding-bottom: 10px;
    width: 100%;
    height: 600px;
}

.footer {
    height: 144px;
    width: 100%;
    background-color: #0A141E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: -8px;
}

.sakura-logo-text {
    height: 44px;
}

.footer-img {
    height: 40px;
    margin-left: 10px;
}

@media(max-width:768px){
    
    .headlineLink{
        display: none;
    }

    .co-headline{
        font-size: 20px;
    }

    h1{
        text-align: center;
        font-size: 71px;
    }

    h2{
        text-align: center;
        font-size: 64px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
    h3{
        font-size: 32px;
    }

    .table{
        padding-left:0px;
        padding-right: 0px;
    }

    .table-text{
        font-size: 24px;
    }

    .howto-img{
        width: 112px;
    }

    .howto-headline{
        padding-top: 96px;
        padding-bottom: 46px;
    }

    .howto-section{
        padding-bottom: 96px;
    }

    .menu-headline{
        padding-top: 96px;
        padding-bottom: 46px;

    }

    .tonkotsu{
        flex-direction: column;
    }

    .spicy-miso{
        flex-direction: column;
    }

    .shio{
        flex-direction: column;
    }

    .findus-text{
        font-size: 16px;
    }

    .sakura-logo-text {
        height: 20px;
    }

    .footer-img {
        height: 33px;
        margin-left: 10px;
    }
}

@media(max-width:375px){
    
    .headlineLink{
        display: none;
    }

    .co-headline{
        font-size: 16px;
    }

    .headline-logo{
        width: 40px;
        height: 40px;
    }

    .tel-link{
        font-size: 16px;
        padding: 3px;
    }

    h1{
        text-align: center;
        font-size: 44px;
    }

    h2{
        text-align: center;
        font-size: 40px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
    h3{
        font-size: 32px;
    }

    .table{
        padding-left:0px;
        padding-right: 0px;
    }

    .table-text{
        font-size: 24px;
    }

    .howto-img{
        width: 112px;
    }

    .howto-imgs{
        flex-direction: column;
    }

    .howto-headline{
        padding-top: 72px;
        padding-bottom: 40px;
    }

    .howto-section{
        padding-bottom: 72px;
    }

    .howtodivs{
        margin: 32px;
    }

    .menu-headline{
        padding-top: 96px;
        padding-bottom: 46px;
    }

    .menu-section{
        padding-bottom:72px;
    }

    .tonkotsu{
        flex-direction: column;
    }

    .spicy-miso{
        flex-direction: column;
    }

    .shio{
        flex-direction: column;
    }

    .emptyrow {
        padding-right: 60px;
    }

    .findus-text{
        font-size: 16px;
    }
    
    .findus-section{
        padding-top:72px;
    }

    .sakura-logo-text {
        height: 20px;
    }

    .footer{
        height: 86px;

    }
    
    .footer-img {
        height: 33px;
        margin-left: 10px;
    }
}