body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

main {
    background-color: white;
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(45deg, #BF9568 0%, #BD686D 100%, #FBDD7B 100%);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 10;
    padding-bottom: 20px;
}

.header-logo{
    height: 100px;
    padding: 20px;

}

.search{
    display: flex;
    justify-content: center;
    border-radius: 18px;
}

input{
    border-radius: 18px 0px 0px 18px;
    height: 35px;
    padding: 1px 0px;
    border: 1px solid;
    text-align: center;
    font-size: 15px;
}

.search-button{
    color: black;
    background-color: white;
    border-radius: 0px 18px 18px 0px;
    border: 1px solid;
    text-decoration: none;
    padding: 9px;
    cursor: pointer;
}

.search-button:hover{
    background-color: rgb(235, 235, 235);
}

.pokedex {
    display: flex;
    flex-direction: column;
    width: 250px;
    color: white;
    border-radius: 40px;
    box-shadow: -1px -1px 7px 1px rgba(0, 0, 0, 0.75);
    transition: transform .2s;
    cursor: pointer;
}

.pokedex:hover {
    transform: scale(1.02);
}

.pokemonImage {
    height: 160px;
    object-fit: contain;
    margin-top: -130px;
    padding-bottom: 20px;
    filter: drop-shadow(2px 4px 6px black);
}

.info-container {
    background-color: white;
    border-radius: 40px;
    margin-top: -20px;
    min-height: 100px;
    height: 300px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
}

.pokedex-container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

}

.card-headline {
    padding-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bug{
    background-color: #A8B820e8;
}

.dark{
    background-color: #040706e8;
}

.dragon{
    background-color: #448B95e8;
}

.electric{
    background-color: #E3E32Be8;
}

.fairy{
    background-color: #971944e8;
}

.fire{
    background-color: #994025e8;
}

.fighting{
    background-color: #AB1F23e8;
}

.flying{
    background-color: #4A677De8;
}

.ghost{
    background-color: #31336Be8;
}

.grass{
    background-color: #147B3De8;
}

.ground{
    background-color: #A9702Ce8;
}

.ice{
    background-color: #86d2f5e8;
}

.normal{
    background-color: #75515Be8;
}

.poison{
    background-color: #5E2D88e8;
}

.psychic{
    background-color: #A42A6Ce8;
}

.rock{
    background-color: #48180Be8;
}

.steel{
    background-color: #5F756De8;
}

.water{
    background-color: #1552E2e8;
}

.d-none{
    display: none;
}

.back-btn{
    margin-left: 10px;
    border-radius: 17px;
    color: black;
    background-color: white;
    border: 1px solid;
    cursor: pointer;
}

.back-btn:hover{
    background-color: rgb(235, 235, 235);
}

.opened-card {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



.hidden {
    display: none;
}