<footer>
    <div class="copyright">
        <a href="#top" class="footerlogo-link">
            <img src="./assets/img/logo_small.png" alt="footer logo" class="footer-logo">
        </a>
        <img src="./assets/img/copyright.png" alt="" class="copyright-logo">
        <p class="copyright-names">Christian, Mark, Daniel</p>
    </div>

    <div class="contact">
        <a href="./contact.html" class="contact-link">Kontakt</a>
        <a href="./impressum.html" class="contact-link impressum">Impressum</a>
    </div>
</footer>