<header id="top">
    <a href="./index.html" class="header-link">
        <img src="./assets/logo.png" alt="header logo" class="header-logo">
    </a>
    <nav>
        <a class="nav-item" href="./index.html">Start</a>
        <a class="nav-item" href="./daily.html">Rezept des Tages</a>
        <a class="nav-item" href="./contact.html">Kontakt</a>
        <a class="nav-item" href="./impressum.html">Impressum</a>
    </nav>

    <img onclick="showMenu()" class="menu-burger" src="./assets/img/menu-burger.png" alt="menu-burger">
    <div id="menu" class="overlay-menu">
        <div class="menu-links">
            <a class="nav-item" href="./index.html">Start</a>
            <a class="nav-item" href="./daily.html">Rezept des Tages</a>
            <a class="nav-item" href="./contact.html">Kontakt</a>
            <a class="nav-item" href="./impressum.html">Impressum</a>
        </div>
        <div class="menu-closer-icon">
            <img onclick="closeMenu()" src="./assets/img/circle-xmark.png" class="menu" alt="icon">
        </div>
    </div>
</header>